.bottom-navigation-wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: solid 1px lightgray;
}

.css-16lloyr-MuiBottomNavigation-root {
 height: 42px;
} 

* {
  padding: 0;
  margin: 0;
}

